# Required with Module 1
GROQ_API_KEY=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

# Required with Module 5 (optional: for evaluation). Make sure to restart the Docker infrastructure after setting this up.
OPENAI_API_KEY=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

# Required with Module 5 (optional: for evaluation and LLMOps). Make sure to restart the Docker infrastructure after setting this up.
COMET_API_KEY=bsH5by0yv6dvmYraVRUte0AYW
